{% load widget_tweaks %}
		<div class="col-lg-6 offset-sm-3">
			<div class="card mb-3">
				<div class="card-body">
					<div class="pt-4 pb-2">
						<h5 class="card-title text-center pb-0 fs-4">Voter registration form</h5>
					</div>
					<form action="" method="post" class="p-3">
						{% csrf_token %}
						<div class="row">
							<div class="col-12">
								<label>{{ VoterRegistrationForm.reg_no.label_tag }}&ast;</label>
								{% render_field VoterRegistrationForm.reg_no class="form-control" hx-post="/accounts/validate-registration-number/" hx-swap="outerhtml" hx-trigger="keyup delay:.5s" hx-target="#registration-num-error" %}
								<div id="registration-num-error" class="mt-1"></div>
								<label>{{ VoterRegistrationForm.school.label_tag }}&ast;</label>
								{% render_field VoterRegistrationForm.school class="form-control" %}
								<label>{{ VoterRegistrationForm.year.label_tag }}&ast;</label>
								{% render_field VoterRegistrationForm.year class="form-control" %}
								<label>{{ VoterRegistrationForm.semester.label_tag }}&ast;</label>
								{% render_field VoterRegistrationForm.semester class="form-control" %}
								
							</div>
						</div>
						<div class="col-12 mt-3">
							<button class="btn btn-outline-success w-100 mb-2" type="submit">Register</button>
						</div>
					</form>
				</div>
			</div>

		</div>
