{% extends 'navbar.html' %}{% block title %}Cast your vote{% endblock %}
{% load crispy_forms_tags %}
	{% block content %}
	<main id="main" class="main">
		<section class="section profile">
			<div class="row">
				<div class="col-xl-4">
				    {% include 'core/partials/modals/voters-info.html' %}
					<div class="card">
						<div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
							<img src="{{ request.user.profile_pic.url }}" alt="Profile" class="rounded-circle">
							<h2>{{ request.user.username }}</h2>
							<h3>{{ request.user.gender|default:" -- " }} | {{ request.user.voter.year|default:" -- " }}</h3>
						</div>
					</div>
				</div>

				<div class="col-xl-8">
					<div class="card">
						<div class="card-body pt-3">
                            {% include 'toasts.html' %}
                            <h5 class="card-title">Aspirants</h5>
                            {% if request.user.voter.has_voted is True %}
                            <div class="mt-3 text-center">
                                <i class="bi-check-circle-fill" style="font-size: 100px; color: #13bb46; text-align: center;"></i>
                                <p class="small text-muted fw-bold">You have voted. Results will posted once they are ready.</p>
                            </div>
                            {% else %}
							{% if aspirants %}
                            {% include 'core/partials/aspirants.html' %}
							{% else %}
                            <div class="mt-3 text-center">
                                <i class="bi-people-fill" style="font-size: 100px; color: #13bb46; text-align: center;"></i>
                                <p class="small text-muted fw-bold">No aspirant(s) available.</p>
                            </div>
							{% endif %}
                            {% endif %}
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	{% endblock %}