{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>GDSC Uchaguzi Online | {% block title %}{% endblock %}</title>
    <link href="{% static 'img/favicon/favicon.png' %}" rel="icon">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
</head>
<body>
    <div id="wrapper">
        <header id="header" class="header fixed-top d-flex align-items-center">
            <div class="d-flex align-items-center justify-content-between">
                <a href="" class="logo d-flex align-items-center">
                    <span class="d-none d-lg-block">GDSC Uchaguzi</span>
                </a>
                {% if request.user.is_authenticated %}<i class="bi bi-list toggle-sidebar-btn"></i>{% endif %}
            </div>
            {% if user.is_authenticated %}
            <nav class="header-nav ms-auto">
                <ul class="d-flex align-items-center">
                    <li class="nav-item d-block d-lg-none">
                        <a class="nav-link nav-icon search-bar-toggle " href="#">
                            <i class="bi bi-search"></i>
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                            <i class="bi bi-bell-fill"></i>
                            <span class="badge bg-danger badge-number">4</span>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                            <li class="dropdown-header">
                                You have 4 new notifications
                                <a href=""><span class="badge rounded-pill bg-primary p-2 ms-2">Mark as read</span></a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li class="notification-item">
                                <i class="bi bi-exclamation-circle text-warning"></i>
                                <div>
                                    <h4>Lorem Ipsum</h4>
                                    <p>Quae dolorem earum veritatis oditseno</p>
                                    <p>30 min. ago</p>
                                </div>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li class="notification-item">
                                <i class="bi bi-x-circle text-danger"></i>
                                <div>
                                    <h4>Atque rerum nesciunt</h4>
                                    <p>Quae dolorem earum veritatis oditseno</p>
                                    <p>1 hr. ago</p>
                                </div>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li class="notification-item">
                                <i class="bi bi-check-circle text-success"></i>
                                <div>
                                    <h4>Sit rerum fuga</h4>
                                    <p>Quae dolorem earum veritatis oditseno</p>
                                    <p>2 hrs. ago</p>
                                </div>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li class="notification-item">
                                <i class="bi bi-info-circle text-primary"></i>
                                <div>
                                    <h4>Dicta reprehenderit</h4>
                                    <p>Quae dolorem earum veritatis oditseno</p>
                                    <p>4 hrs. ago</p>
                                </div>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li class="dropdown-footer">
                                <a href="#">Show all notifications</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown pe-3">
                        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="" data-bs-toggle="dropdown">
                            <img src="{{ request.user.profile_pic.url }}" alt="Profile" class="rounded-circle">
                            <span class="d-none d-md-block dropdown-toggle ps-2">{{request.user.username|title}}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                            <li class="dropdown-header">
                                <h6>{{request.user.voters_name.year|title|default:"Not registered"}}</h6>
                                <span>{{ request.user.voters_name.school|default:"Be a registered voter today" }}</span>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" hx-get="{% url 'user_profile' %}" hx-trigger="click" hx-push-url="{% url 'user_profile' %}" hx-swap="outerHTML" hx-target="#wrapper">
                                    <i class="bi bi-person-fill"></i>
                                    <span>My Profile</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" hx-get="{% url 'user_profile' %}" hx-trigger="click" hx-push-url="{% url 'user_profile' %}" hx-swap="outerHTML" hx-target="#wrapper">
                                    <i class="bi bi-gear-fill"></i>
                                    <span>Account Settings</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" hx-post="{% url 'logout' %}" hx-trigger="click" hx-swap="outerHTML"  hx-target="#wrapper" hx-push-url="{% url 'login' %}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                                    <i class="bi bi-box-arrow-right"></i>
                                    <span>Sign Out</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </nav>
            {% endif %}
        </header>

        <aside id="sidebar" class="sidebar">
            <ul class="sidebar-nav" id="sidebar-nav">
                {% if request.user.voter.is_registered is True %}
                <li class="nav-item">
                    <a class="nav-link" hx-get="{% url 'homepage' %}" hx-trigger="click"  hx-push-url="{% url 'homepage' %}" hx-swap="outerHTML" hx-target="#wrapper">
                        <i class="bi bi-grid-1x2-fill"></i><span>Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage' %}" data-bs-toggle="modal" data-bs-target="#modal-registration-status">
                        <i class="bi bi-person-fill-check"></i><span>Registration Status</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a hx-get="{% url 'cast_vote' request.user %}" hx-trigger="click"  hx-push-url="{% url 'cast_vote' request.user %}" hx-swap="outerHTML" hx-target="#wrapper" class="nav-link" target="_blank">
                        <i class="bi bi-bar-chart-line-fill"></i><span>Vote</span>
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'voter_registration' %}">
                        <i class="bi bi-person-fill-add"></i><span>Register</span>
                    </a>
                </li>
                {% endif %}
                <li><hr class="dropdown-divider"></li>
                <li class="nav-heading text-white">Pages</li>
                <li class="nav-item">
                    <a class="nav-link" hx-get="{% url 'user_profile' %}" hx-trigger="click" hx-push-url="{% url 'user_profile' %}" hx-swap="outerHTML" hx-target="#wrapper">
                        <i class="bi bi-person-bounding-box"></i>
                        <span>Profile</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a hx-post="{% url 'logout' %}" hx-trigger="click" hx-swap="outerHTML"  hx-target="#wrapper" hx-push-url="{% url 'login' %}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="nav-link">
                        <i class="bi bi-door-open-fill"></i>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </aside>
        {% block content %}
        {% endblock %}
        <footer id="footer" class="footer">
            <div class="copyright">
                <strong>&copy; {% now 'Y' %}<span> GDSC Uchaguzi Online</span> | ALL RIGHTS RESERVED.</strong>
            </div>
        </footer>
    </div>

    <div id="preloader"></div>
    <a href="" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi-arrow-up-short"></i></a>
    <script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'vendor/chart.js/chart.min.js' %}"></script>
    <script src="{% static 'vendor/echarts/echarts.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/toasts.js' %}"></script>
</body>
</html>
